<ion-content scroll="false" vertical layout fit style="padding: 70px 10px 10px 10px">
    <div class="header-calculator" horizontal layout>
        <div>
            <button class="button button-block button-positive" translate="WITHDRAW">

            </button>
        </div>
        <div flex horizontal layout class="calculator-balance" center>
            <div class="text-muted" translate="BALANCE"></div>
            <div flex></div>
            <div>{{0 | currency}}</div>
        </div>
        <div>
            <button class="button button-block button-energized" translate="DEPOSIT">

            </button>
        </div>
    </div>
    <div class="content-calculator" flex vertical layout>
        <div class="tender">

        </div>
        <div class="after-tender">

        </div>
        <div class="calculator-number" flex vertical layout>
            <div flex horizontal layout>
                <div class="width-4" flex vertical layout>
                    <div class="height-1-2" flex>
                        fsf
                    </div>
                    <div class="height-1-2" flex>
fwqfwq
                    </div>
                </div>
                <div class="width-4" flex vertical layout>
                    <div class="height-1-2" flex>
fwqf
                    </div>
                    <div class="height-1-2" flex>
dwqd
                    </div>
                </div>
                <div class="width-4" flex vertical layout>
                    <div class="height-1-2" flex>
gegew
                    </div>
                    <div class="height-1-2" flex>
dfqf
                    </div>
                </div>
                <div class="width-4" flex vertical layout>
                    <div class="height-1-2" flex>
dwqdwq
                    </div>
                    <div class="height-1-2" flex>
dwqgwq
                    </div>
                </div>
            </div>
            <div flex horizontal layout>
                <div class="width-4" flex vertical layout>
                    <div class="height-1-2" flex>
grehrwe
                    </div>
                    <div class="height-1-2" flex>
feqfew
                    </div>
                </div>
                <div class="width-4" flex vertical layout>
                    <div class="height-1-2" flex>
gewqge
                    </div>
                    <div class="height-1-2" flex>
fewf
                    </div>
                </div>
                <div class="width-4" flex vertical layout>
                    <div class="height-1-2" flex>
fewqfv
                    </div>
                    <div class="height-1-2" flex>
hrqhr
                    </div>
                </div>
                <div class="width-4" flex vertical layout>
fewqfew
                </div>
            </div>
        </div>
    </div>
</ion-content>

