<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu-content>
        <ion-view class="cashier-content">
            <ion-header-bar class="cashier-header-content" horizontal layout>
                <div class="avatar-waiter">
                    <img src="./images/avatar-waiter.png"/>
                </div>
                <div class="name-res" horizontal center-justified center layout>
                    <div>
                        <div>{{user.name}}</div>
                        <div>RestTab</div>
                    </div>
                </div>
                <div flex></div>
                <a class="tab-active" horizontal center-justified center layout ui-sref="cashier.orders" ui-sref-active="active">
                    <i class="mdi mdi-basket"></i>
                    <span class="badge-orders" horizontal center-justified center layout>{{listOrders.length}}</span>
                </a>
                <a class="tab-active" horizontal center-justified center layout ui-sref="cashier.menu" ui-sref-active="active">
                    <i class="mdi mdi-apps"></i>
                </a>
            </ion-header-bar>
            <ion-nav-view name="menuCashierContent"></ion-nav-view>
        </ion-view>
        <ion-view class="cashier-order">
            <ion-header-bar class="cashier-header-order" horizontal layout>
                <div flex horizontal start-justified center layout class="table-order bold" ui-sref="cashier.table">
                    <span ng-show="!order.table" translate="TABLE"></span>
                    <span ng-show="order.table">{{order.table.name}}</span>
                    <i class="mdi mdi-menu-down"></i>
                </div>
                <div class="button-order dropdown" horizontal start-justified center layout dropdown on-toggle="toggled(open)">
                    <div class="button-order-child bold" horizontal start-justified center layout class="dropdown-toggle" dropdown-toggle>
                        <i class="mdi mdi-account-multiple-plus"></i>{{order.customerNumber}}
                    </div>
                    <ul class="dropdown-menu">
                        <li>
                            fdsafdds
                        </li>
                    </ul>
                </div>
            </ion-header-bar>
            <ion-content style="bottom: 150px">
                <div ng-if="order.foods.length" class="list-order-foods">
                    <div class="food-order padding-5" ng-repeat="item in order.foods" >
                        <div horizontal layout>
                            <div flex horizontal center layout class="name-order-food text-dot padding-5">
                                {{item.name}}
                            </div>
                            <div horizontal center layout class="discount-order-food padding-5" ng-if="item.discount">
                                <i class="mdi mdi-tag-text-outline"></i>
                            </div>
                            <div horizontal center layout class="quantity-order-food padding-5">
                                &times;{{item.quantity}}
                            </div>
                            <div horizontal center layout class="subtotal-order-food padding-5">
                                {{item.subTotal | currency}}
                            </div>
                        </div>
                        <div class="list-food-options-order" ng-if="item.isOptions">
                            - <span ng-repeat="option in item.options" ng-if="option.selected"> {{option.name}}, </span>
                        </div>
                        <div class="list-food-options-order" ng-if="item.note">
                            - note: {{item.note}}
                        </div>
                    </div>
                </div>
                <div ng-if="order.taxes.length" class="list-order-tax-discount">
                    <div class="header-tax-discount" style="background-color: #689F38;padding: 5px 10px;color: #fff;"><span translate="TOTAL_TAXES"></span> <span class="pull-right">{{order.totalTaxes | currency}}</span></div>
                    <div class="order-list-taxes-discounts" ng-repeat="item in order.taxes" horizontal center layout>
                        <span class="padding-5" ng-click="deleteTax($index)"><i class="mdi mdi-close"></i></span>
                        <span flex>{{item.name}}</span>
                        <span style="padding: 0 10px">
                            <span ng-show="item.amount">{{item.amount | currency}}</span>
                            <span ng-show="item.rate">{{item.rate}}%</span>
                        </span>
                    </div>
                </div>
                <div ng-if="order.discounts.length" class="list-order-tax-discount">
                    <div class="header-tax-discount" style="background-color: #F57C00;padding: 5px 10px;color: #fff;"><span translate="TOTAL_DISCOUNTS"></span> <span class="pull-right">{{order.totalDiscounts | currency}}</span></div>
                    <div class="order-list-taxes-discounts" ng-repeat="item in order.discounts" horizontal center layout>
                        <span class="padding-5" ng-click="deleteDiscount($index)"><i class="mdi mdi-close"></i></span>
                        <span flex>{{item.name}}</span>
                        <span style="padding: 0 10px">
                            <span ng-show="item.amount">{{item.amount | currency}}</span>
                            <span ng-show="item.rate">{{item.rate}}%</span>
                        </span>
                    </div>
                </div>
            </ion-content>
            <ion-footer-bar class="footer-bar-order padding-5">
                <div class="order-total padding-5" horizontal layout center>
                    <span translate="TOTAL"></span>
                    <span flex></span>
                    <span class="pull-right">{{order.total | currency}}</span>
                </div>
                <div class="group-list-button-app padding-5">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" translate="PRINT"></button>
                        <button type="button" class="btn btn-default" translate="TAXES" ui-sref="cashier.taxes" ui-sref-active="active"></button>
                        <button type="button" class="btn btn-default" translate="DISCOUNTS" ui-sref="cashier.discounts" ui-sref-active="active"></button>
                    </div>
                </div>
                <div class="group-button-action-order padding-5">
                    <button class="button button-full button-assertive" ng-click="createOrder()" ng-if="!order.status"><span translate="CREATE_NEW_ORDER">Create new order</span></button>
                    <button class="button button-full button-assertive" ng-click="resendOrder()" ng-if="order.status == 1"><span translate="RESEND">Resend</span></button>
                </div>
            </ion-footer-bar>
        </ion-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-assertive">
            <h1 class="title">Left Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ul class="list">
                <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
                <a href="#/event/check-in" class="item" menu-close>
                    <select-language></select-language>
                </a>
                <a href="#/event/attendees" class="item" menu-close>Attendees</a>
            </ul>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>