<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu-content>
        <ion-view class="cashier-content">
            <ion-header-bar class="cashier-header-content" horizontal layout>
                <div class="avatar-waiter">
                    <img src="./images/avatar-waiter.png"/>
                </div>
                <div class="name-res" horizontal center-justified center layout>
                    <div>
                        <div>{{user.name}}</div>
                        <div>RestTab</div>
                    </div>
                </div>
                <div flex></div>
                <a class="tab-active" horizontal center-justified center layout ui-sref="cashier.menu" ui-sref-active="active">
                    <i class="mdi mdi-apps"></i>
                </a>
            </ion-header-bar>
            <ion-nav-view name="menuCashierContent"></ion-nav-view>
        </ion-view>
        <ion-view class="cashier-order">
            <ion-header-bar class="cashier-header-order">

            </ion-header-bar>
            <ion-content>
                this is content order
            </ion-content>
        </ion-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-assertive">
            <h1 class="title">Left Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ul class="list">
                <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
                <a href="#/event/check-in" class="item" menu-close>            <select-language></select-language>
                </a>
                <a href="#/event/attendees" class="item" menu-close>Attendees</a>
            </ul>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>