<ion-content class="padding-5">
    <div class="list-orders padding-5" ng-repeat="item in listOrders" ng-click="selectedOrder(item, $index)">
        <div class="order" ng-class="{active: $index == order.index}">
            <i class="mdi mdi-check check-active-order"></i>
            <div class="header-order">
                <div class="name-table-order" horizontal center-justified center layout>
                    <span style="padding-right: 10px;" class="text-muted"><i class="mdi mdi-content-paste"></i></span>
                    <span flex class="text-dot">{{item.table.name}}</span>
                </div>
                <div class="info-staff-order" horizontal center-justified center layout>
                    <span style="padding-right: 10px;" class="text-muted"><i class="mdi mdi-account-box"></i></span>
                    <span flex class="text-dot">{{item.staff.name}}</span>
                </div>
                <div class="info-order" horizontal center-justified center layout>
                    <span style="padding-right: 10px;" class="text-muted"><span translate="TOTAL"></span></span>
                    <span flex></span>
                    <span class="text-dot pull-right">{{item.total | currency}}</span>
                </div>
                <div class="info-order" horizontal center-justified center layout>
                    <span style="padding-right: 10px;" class="text-muted"><i class="mdi mdi-clock"></i></span>
                    <span flex></span>
                    <span class="text-dot pull-right" am-time-ago="item.creatAt"></span>
                </div>
            </div>
            <div class="bottom-order" horizontal layout>
                <div class="button-cancel-order" horizontal layout center>
                    <i class="mdi mdi-delete text-error"></i>
                </div>
                <div class="label-order" flex horizontal layout center end-justified>
                    <span class="label label-success"><span translate="RUNNING"></span></span>
                </div>
            </div>
        </div>
    </div>
</ion-content>

