<ion-content scroll="false" horizontal layout>
    <ion-content class="list-categories">
        <ul>
            <li ng-repeat="item in categories" horizontal center-justified center layout ng-click="selectCategory(item)" ng-class="{active: categorySelected._id == item._id}">
                <a>{{item.name}}</a>
            </li>
        </ul>
    </ion-content>
    <ion-content class="list-menus" flex>
        <div class="break-menu" horizontal layout>
            <div class="input-search-food">
<!--
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="{{ 'SEARCH_FOOD' | translate }}" ng-model="search.name">
-->
                <div class="input-group">
                    <input type="text" id="filter" placeholder="Search" class="form-control input-sm bg-light no-border rounded padder" ng-model="search.name">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
            <div flex></div>
            <div class="select-column">
                <div class="btn-group open" dropdown="" is-open="status.isopen">
                    <button type="button" class="btn btn-default dropdown-toggle ng-binding" dropdown-toggle="" aria-haspopup="true" aria-expanded="true">
                        {{numberGrid}} <span translate="COLS">Cols</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-colum" role="menu">
                        <li ng-click="selectNumberGrid(2)">2</li>
                        <li ng-click="selectNumberGrid(3)">3</li>
                        <li ng-click="selectNumberGrid(4)">4</li>
                        <li ng-click="selectNumberGrid(5)">5</li>
                        <li ng-click="selectNumberGrid(6)">6</li>
                    </ul>
                </div>

            </div>
            <div class="select-column">
                <div class="btn-group" dropdown="" is-open="status1.isopen">
                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                        <span translate="SORT_BY">Sort by</span>
                        <span ng-show="searchText" class="ng-hide"><span translate="NAME">name</span></span>
                        <span ng-show="!searchText"><span translate="DATE">date</span></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-sort" role="menu">
                        <li ng-click="selectFilter('name')" style="text-transform: capitalize;"><span translate="NAME">name</span></li>
                        <li ng-click="selectFilter()" style="text-transform: capitalize;"><span translate="DATE">date</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-foods">
            <div class="width-1-{{numberGrid}}" ng-repeat="item in foods | orderBy:searchText | filter:search.name" ng-click="openFood(item)">
                <div style="position: relative;  border: 1px solid #ddd;">
                    <img ng-src="{{item.intro_img}}" class="img-responsive" ng-if="item.intro_img"/>
                    <img src="./images/no_image.jpg" class="img-responsive" ng-if="!item.intro_img"/>
                    <div class="food">
                        <div class="food-name text-dot">{{item.name}}</div>
                        <div class="food-name">{{item.price || currency}}</div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-content>

