<ion-content scroll="false" vertical layout fit style="padding: 70px 10px 10px 10px">
    <div class="header-calculator" horizontal layout>
        <div>
            <button class="button button-block button-positive" translate="WITHDRAW">

            </button>
        </div>
        <div flex horizontal layout class="calculator-balance" center>
            <div class="text-muted padding-5"><i class="mdi mdi-information-outline"></i></div>
            <div class="text-muted" translate="BALANCE"></div>
            <div flex></div>
            <div>{{0 | currency}}</div>
        </div>
        <div>
            <button class="button button-block button-energized" translate="DEPOSIT">

            </button>
        </div>
    </div>
    <div class="content-calculator" flex vertical layout>
        <div class="tender" horizontal layout>
            <div flex>
                <span translate="TENDER"></span>
            </div>
            <div>
                {{dataCalculator.tender | currency}}
            </div>
        </div>
        <div class="after-tender" >
          <div ng-show="dataCalculator.change > 0" horizontal layout>
            <div flex>
              <span translate="CHANGE_MONEY"></span>
            </div>
            <div>
              {{dataCalculator.change | currency}}
            </div>
          </div>
        </div>
        <div class="calculator-number" flex vertical layout>
            <div flex horizontal layout>
                <div class="width-4" flex vertical layout>
                    <div class="height-1-2" flex horizontal layout center-justified center ng-click="addNumber('7')">
                        7
                    </div>
                    <div class="height-1-2" flex horizontal layout center-justified center ng-click="addNumber('4')">
                        4
                    </div>
                </div>
                <div class="width-4" flex vertical layout>
                    <div class="height-1-2" flex horizontal layout center-justified center ng-click="addNumber('8')">
                        8
                    </div>
                    <div class="height-1-2" flex horizontal layout center-justified center ng-click="addNumber('5')">
                        5
                    </div>
                </div>
                <div class="width-4" flex vertical layout>
                    <div class="height-1-2" flex horizontal layout center-justified center ng-click="addNumber('9')">
                        9
                    </div>
                    <div class="height-1-2" flex horizontal layout center-justified center ng-click="addNumber('6')">
                        6
                    </div>
                </div>
                <div class="width-4" flex vertical layout>
                    <div class="height-1-2 back-space" flex horizontal layout center-justified center ng-click="backSpaceCalculator()">
                        <i class="mdi mdi-keyboard-backspace"></i>
                    </div>
                    <div class="height-1-2 keyboard-clear" flex horizontal layout center-justified center ng-click="keyBoardClear()">
                        &#67;
                    </div>
                </div>
            </div>
            <div flex horizontal layout>
                <div class="width-4" flex vertical layout>
                    <div class="height-1-2" flex horizontal layout center-justified center ng-click="addNumber('1')">
                        1
                    </div>
                    <div class="height-1-2" flex horizontal layout center-justified center ng-click="addNumber('0')">
                        0
                    </div>
                </div>
                <div class="width-4" flex vertical layout>
                    <div class="height-1-2" flex horizontal layout center-justified center ng-click="addNumber('2')">
                        2
                    </div>
                    <div class="height-1-2" flex horizontal layout center-justified center ng-click="addNumber('00')">
                        00
                    </div>
                </div>
                <div class="width-4" flex vertical layout>
                    <div class="height-1-2" flex horizontal layout center-justified center ng-click="addNumber('3')">
                        3
                    </div>
                    <div class="height-1-2" flex horizontal layout center-justified center ng-click="addNumber('000')">
                        000
                    </div>
                </div>
                <div class="width-4" flex vertical layout>
                    <div class="height-1-2 keyboard-confirm" flex horizontal layout center-justified center ng-click="keyBoardConfirm()">
                        <i class="mdi mdi-check"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>

