<ion-view>
    <ion-content class="padding">

        <div class="create-staff">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{{ 'NAME' | translate }}" ng-model="discount.name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{{ 'AMOUNT' | translate }}" ng-model="discount.amount" ui-number-mask="0">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{{ 'RATE' | translate }}" ng-model="discount.rate" ui-number-mask="0">
                </div>

                <button type="submit" class="btn btn-primary" ng-click="createDiscount()" ng-disabled="!discount.name &&!discount.amount || !discount.rate"><span translate="ADD"></span></button>
            </form>
        </div>

        <div class="staff-lists">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th><span translate="NAME"></span></th>
                    <th><span translate="AMOUNT"></span></th>
                    <th><span translate="RATE"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in listDiscounts">
                    <td scope="row">{{$index + 1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.amount | currency}}</td>
                    <td><span ng-show="item.rate">{{item.rate}}%</span></td>
                    <td>
                        <button type="button" class="btn btn-warning"><i class="mdi mdi-table-edit"></i></button>
                        <button type="button" class="btn btn-danger"><i class="mdi mdi-close"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </ion-content>
</ion-view>