<div class="modal-header">
    <h4 class="modal-title bold">{{food.name}} <span class="pull-right">{{food.subTotal | currency}}</span></h4>
</div>
<div class="modal-body modal-body-food">
    <div class="list-options" ng-repeat="option in food.options" ng-click="selectedOption(option)" >
        <div class="option" ng-class="{active: option.selected}">
            <div class="name-option bold">
                {{option.name}}
            </div>
            <div class="price-option">
                {{option.price | currency}}
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="group-food" horizontal layout>
        <div class="food-note" flex>
            <textarea type="text" class="form-control" id="exampleInputEmail1" placeholder="{{ 'NOTE' | translate }}" ng-model="food.note"></textarea>
        </div>
        <div class="quantity">
            <div horizontal layout>
                <div class="button button-custom" horizontal layout center center-justified ng-click="subQuantity()"><i class="mdi mdi-minus"></i></div>
                <div class="food-quantity" horizontal layout center center-justified>{{food.quantity}}</div>
                <div class="button button-custom" horizontal layout center center-justified ng-click="addQuantity()"><i class="mdi mdi-plus"></i></div>
            </div>
        </div>
    </div>
    <div class="group-button">
        <button class="btn btn-primary" ng-click="ok()" ng-hide="food.isEdit"><span translate="ADD"></span></button>
        <button class="btn btn-warning" ng-click="ok()" ng-show="food.isEdit"><span translate="UPDATE"></span></button>
        <button class="btn btn-warning pull-left" ng-click="cancel()"><span translate="CANCEL"></span></button>
        <button class="btn btn-danger pull-left" ng-click="deleteFood(food)" ng-show="food.isEdit" style="margin: 0 10px !important;"><span translate="DELETE"></span></button>
    </div>
</div>